KTaskManager_UP/.vsconfig
KTaskManager_UP/.vs/
KTaskManager_UP/Assembly-CSharp.csproj
KTaskManager_UP/Assembly-CSharp.Player.csproj
KTaskManager_UP/AttributeLib.csproj
KTaskManager_UP/AttributeLib.Player.csproj
KTaskManager_UP/AttributeLibEd.csproj
KTaskManager_UP/CoreDataLib.csproj
KTaskManager_UP/CoreDataLib.Player.csproj
KTaskManager_UP/CoreDataLibTestEditor.csproj
KTaskManager_UP/CoreDataLibTestRuntime.csproj
KTaskManager_UP/CoreDataLibTestRuntime.Player.csproj
KTaskManager_UP/KTaskManager_UP.sln
KTaskManager_UP/Unity.CollabProxy.Editor.csproj
KTaskManager_UP/Unity.Mathematics.csproj
KTaskManager_UP/Unity.Mathematics.Editor.csproj
KTaskManager_UP/Unity.Mathematics.Player.csproj
KTaskManager_UP/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
KTaskManager_UP/Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
KTaskManager_UP/Unity.RenderPipelines.Core.Editor.csproj
KTaskManager_UP/Unity.RenderPipelines.Core.Runtime.csproj
KTaskManager_UP/Unity.RenderPipelines.Core.Runtime.Player.csproj
KTaskManager_UP/Unity.RenderPipelines.Core.ShaderLibrary.csproj
KTaskManager_UP/Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
KTaskManager_UP/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
KTaskManager_UP/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
KTaskManager_UP/Unity.RenderPipelines.Universal.Editor.csproj
KTaskManager_UP/Unity.RenderPipelines.Universal.Runtime.csproj
KTaskManager_UP/Unity.RenderPipelines.Universal.Runtime.Player.csproj
KTaskManager_UP/Unity.RenderPipelines.Universal.Shaders.csproj
KTaskManager_UP/Unity.RenderPipelines.Universal.Shaders.Player.csproj
KTaskManager_UP/Unity.Rider.Editor.csproj
KTaskManager_UP/Unity.Searcher.Editor.csproj
KTaskManager_UP/Unity.ShaderGraph.Editor.csproj
KTaskManager_UP/Unity.ShaderGraph.Utilities.csproj
KTaskManager_UP/Unity.TextMeshPro.csproj
KTaskManager_UP/Unity.TextMeshPro.Editor.csproj
KTaskManager_UP/Unity.TextMeshPro.Player.csproj
KTaskManager_UP/Unity.Timeline.csproj
KTaskManager_UP/Unity.Timeline.Editor.csproj
KTaskManager_UP/Unity.Timeline.Player.csproj
KTaskManager_UP/Unity.VisualStudio.Editor.csproj
KTaskManager_UP/Unity.VSCode.Editor.csproj
KTaskManager_UP/UnityEditor.TestRunner.csproj
KTaskManager_UP/UnityEditor.UI.csproj
KTaskManager_UP/UnityEngine.TestRunner.csproj
KTaskManager_UP/UnityEngine.TestRunner.Player.csproj
KTaskManager_UP/UnityEngine.UI.csproj
KTaskManager_UP/UnityEngine.UI.Player.csproj
KTaskManager_UP/Library/
KTaskManager_UP/obj/
KTaskManager_UP/Logs/
